<div class="row" id="author-show-page">
  <div class="twelve columns">
    <h1 class="name-author"><%= @author.name %></h1>
    <div class="photo-author">
      <%= image_tag @author.photo.url(:medium), :title => @author.name %>
    </div>
    <div class="description-author">
      <%= raw(@author.description) %>
    </div>
    <div class="row" id="sharing-social-network">
      <div class="twelve columns">
        <!-- social sharing: -->
        <div class="sharing-text">Поделитесь с друзьями:</div> 
        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
        <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
      </div>
    </div>
    <div id="authors-book">
      <h1>Книги автора:</h1>
      <% if author_book?(@author) %>
        <% @author.books.each do |book| %>
          <div class="author-book">
            <%= link_to(image_tag(book.cover(:thumb),:title => book.title),book) %>
          </div>
        <% end %>
      <% else %>
        <div class="not-books">Книги данного автора отсутствуют на нашем сайте</div>
      <% end %>
    </div>
  </div>
</div>