<h2 id="comments-title">Отзывы:</h2>
<div class="row">
  <div class="twelve list-comments">
    <% for comment in @book.comments %>
      <div class="row comment" >
        <div class="twelve columns">
          <h4><%= comment.name %></h4>
          <p>
            <%= comment.body %>
          </p>
        </div>
      </div>
    <% end %>    
  </div>
</div>