<div class="row" id="about-page">
  <div class="twelve columns">
    <img src="/assets/4.jpg">
    <div id="about-page-content">
      Сайт <%= site[:official_url] %> - это полное собрание книг, авторов.
      <p>
        Здесь Вы можете ознакомиться с информацией о книгах, посмотреть новинки, почитать о своих любимых авторах, оставить комментарий к книге, посмотреть лучшие книги по нашей версии - и все это без регистрации. Мы рекомендуем ознакомиться с <%= link_to "пользовательским соглашением", agreement_path %>
      </p>
    </div>
  </div>
</div>
