<div class="row" id="contacts-page">
  <div class="twelve columns">
    <h1>Как с нами связаться?</h1>
    <h2>e-mail: <a href="mailto:lagox.mail@gmail.com">lagox.mail@gmail.com</a></h2>
    <h2>skype: lagox.skype</h2>
    <h1 id="site-developer">Разработано в <a href="http://remeli.kz">Remeli.kz</a></h1>
  </div>
</div>