<div class="row" id="alphabet">
  <div class="twelve columns">
    <% @alphabet.each do |k,v| %>
    <%= link_to k, alphabet_path(v) %>
    <% end %>
  </div>
</div>
<div class="row" id="main-page">
  <div class="twelve columns last-ten-books">
    <h2 class="title">Последние 10 книг:</h2>
    <% @tenbooks.each do |book| %>
      <%= link_to(image_tag(book.cover.url(:thumb), :title => book.title), book ) %>
    <% end %>
  </div>
</div>
<div class="row" id="main-page">
  <div class="twelve columns last-ten-books">
    <h2 class="title">Случайные книги:</h2>
    <% @randbooks.each do |book| %>
      <%= link_to(image_tag(book.cover.url(:thumb), :title => book.title), book ) %>
    <% end %>
  </div>
</div>