#archive-page h1.title{
  font-size:30px;
  font-weight:normal;
  margin-bottom:20px;
}
#archive-page span.year{
  font-size:14px;
  margin-right:10px;
  margin-bottom:7px;
  display:block;
  float:left;
}
.archive-humor{
  clear:both;
  margin-top:40px;
  font-size:12px;
  font-style:italic;
  text-align:center;
}