#show-page-article{
  margin:10px 0px 10px 0px;
}
#show-page-article .show-article-title{
  font-size:18px;
  font-weight:normal;
}
#show-page-article .show-article-content p{
  margin-bottom:5px;
}
#show-page-article .show-article-add{
  font-size:10px;
  text-align:right;
  color:#999;
}
#show-page-article .show-article-add:hover{
  color:#5F5F5F;
}