#authors-list .author-item{
  float:left;
  position:relative;
  margin-bottom:20px;
  width:25%;
}
#authors-list h1.title{
  font-size:30px;
  font-weight:normal;
  margin-bottom:25px;
}
.author-item h1{
  font-size:12px;
  font-weight:normal;
}
.author-item img{
  width:100px;
  height:105px;
  box-shadow: 0 0 5px black; /* Параметры тени */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -o-border-radius:5px;
}
.author-item a img:hover{
  opacity:0.9;
}

/*show author*/
#author-show-page{
/*  border:1px solid #ccc;*/
}
#author-show-page .name-author{
  font-size:22px;
}
#author-show-page .photo-author img{
  box-shadow: 0 0 5px black; /* Параметры тени */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
  margin:5px 0px 10px 10px;
}
#author-show-page .photo-author img:hover{
  opacity:0.9;
}
#author-show-page .description-author{
  margin-top:5px;
}

/* authors book*/
#authors-book{
  border-top:1px solid #eee;
  margin-top:15px;
  margin-bottom:5px;
}
#authors-book h1{
  font-size:25px;
  font-weight:normal;
  margin:20px 0px 10px 0px;
}
#authors-book .author-book{
  float:left;
  margin-right:10px;
  margin-top:10px;
}
#authors-book .author-book img{
  width:115px;
  height:170px;
  box-shadow: 0 0 10px black; /* Параметры тени */
  box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Safari и Chrome */
}
#authors-book .author-book img:hover{
  opacity:0.9;
}
#authors-book .not-books{
  font-size:11px;
}