/* books show*/
#book-show{
  margin-top:20px;
  padding:5px;
}
#book-show .book-show-cover img{
  width:186px;
  height:275px;
  box-shadow: 0 0 10px black; /* Параметры тени */
  box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Safari и Chrome */
}
#book-show .book-show-cover img:hover{
  opacity:0.8;
}
#book-show .book-show-info{
  margin-left:15px;
  margin-bottom:40px;
}
#book-show .book-show-info h1{
  font-size:30px;
  margin-bottom:20px;
    font-weight:normal;
}
#book-show .book-show-info h2{
  font-size:16px;
  font-weight:normal;
  color:#606060;
}
#book-show .book-show-info h2 span{
  color:#000;
}
#book-show .book-show-description{
  margin-top:20px;
}
#sharing-social-network{
  margin-top:20px;
}
#top20 .top20-book{
  float:left;
  margin-right:10px;
  margin-top:5px;
}
#top20 img{
  width:115px;
  height:170px;
  box-shadow: 0 0 10px black; /* Параметры тени */
  box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Safari и Chrome */
}
#top20 h1.title{
  font-size:30px;
  font-weight:normal;
  margin-bottom:25px;
}