/* search */
#search-page{
  margin-bottom:10px;
}
#search-page .title{
  font-size:30px;
  font-weight:normal;
  margin-bottom:25px;
}
#search-page ul#books-list{
  display:block;
  list-style:none;
  text-align:justify;
}
#search-page ul#books-list li{
  display:inline-block;
  position:relative;
  width:19%;
  vertical-align:top;
  text-align:left;
  margin-top:15px;
}
#search-page img{
  width:115px;
  height:170px;
  box-shadow: 0 0 10px black; /* Параметры тени */
  box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Для Safari и Chrome */
}
#search-page img:hover{
  opacity:0.9;
}
#search-page .book-title{
  font-size:12px;
  margin-top:5px;
  font-weight:normal;
  height:30px;
}
#search-page .author-result{
  float:left;
  position:relative;
  margin-bottom:20px;
  width:25%;
}
#search-page .author-result img{
  width:100px;
  height:105px;
  box-shadow: 0 0 5px black; /* Параметры тени */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -o-border-radius:5px;
}
#search-page .author-result .author-title{
  font-size:12px;
  font-weight:normal;
}