/* Copyright 2011. Kussainov Yerlan. Remeli.kz */
#header{
  height:80px;
  font-family:Arial,Tahoma,sans-serif;
}
#header h1#main-title{
  font-size:20px;
  margin-top:25px;
  margin-left:30px;
}
/* search */
#search{
  margin-top:30px;
  height:40px;

}
#search form{
  height:40px;
  float:right;
}
#search_text{
  font-size:11px;
  float:left;
  width:150px;
  height:24px;
  outline:none;
  border:1px solid #ddd;
  border-right:none;
  padding-right:3px;
  padding-left:3px;
  color:#6E6E6E;
}
#form-list-search{
  float:left;
}
#search .dropdown{
  margin-top:0px;
  float:left;
}
#search .dropdown .current{
  border-left:none;
}
#submit-search{
  float:left;
  height:28px;
  margin-left:5px;
}
.idleField{
color: #ccc;
}

/* menu */
#main-menu{
  height:30px;
  margin-top:5px;
}
#main-menu ul{
  width:100%;
  overflow:hidden;
  height:30px;
  border-top:1px solid #eee;
  padding-top:5px;
}
#main-menu ul li{
  float:left;
}

#main-menu ul li a{
  display:block;
  height:30px;
  padding-top:5px;
  padding-right:20px;
  padding-left:20px;
}
.clear{
  both:clear;
}

/* content */
#main-content{
  
}
#left-content{
/*  border:1px solid #eee;*/
  padding:10px;
}

/* sidebar */
#sidebar .sidebar-block{
/*  border:1px solid #eee;*/
  margin-bottom:20px;
}
.sidebar-title{
  font-size:16px;
  font-weight: normal;
  font-family:Arial,Tahoma,sans-serif;
  text-align:right;
  padding-right:10px;
  padding:5px;
  color:#9B9B9B;
  border-bottom:1px solid #ddd;
}
.sidebar-title:hover{
  color:#585858;
}

/* menu tree */
#menutree{
  font-size:13px;
}
#menutree li{
  color:#666;
  margin-left:5px;
  margin-bottom:5px;
}
#menutree li ul li{
  margin-bottom:2px;
}
#menutree li ul{
  margin-top:3px;
  margin-bottom:5px;
  margin-left:15px;
}
#menutree .folder{
  background-image:url(/assets/menu-arrow-right.png);
  background-repeat:no-repeat;
  background-position:left;
  padding-left:13px;
  cursor:pointer;
}
#menutree .openfolder{
  background-image:url(/assets/menu-arrow-down.png);
  background-repeat:no-repeat;
  background-position:left;
}
#menutree .active_category{
	background: #00a6fc;
	display: inline-block;
	text-align: center;
	padding: 7px 20px 7px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	position: relative;
	cursor: pointer;
	border: none;
  
}
#menutree .active_category:hover{
  background-color: #0192dd; color: #fff;
}

/* footer */
#footer{
  height:180px;
  margin-top:20px;
}
#footer .copyright{
  margin-left:0px;
}
#footer .bord_with_tabs{
  height:30px;
  border-bottom:1px solid #ddd;
}
#footer .copy_text{
  margin-top:60px;
  text-align:right;
  font-size:11px;
}
#links1Tab ul.siteslinks{
  float:left;
  margin-right:30px;
}
#links1Tab ul li{
  margin-bottom:2px;
}
#links1Tab ul li a{
  color:#424242;
  text-decoration:underline;
}
#links1Tab ul li a:hover{
  color:#9B9B9B;
  text-decoration:none;
}
.social-networks li img{
  padding-right:5px;
}