<h1 class="genre-title">Жанры:</h1>
<% for category in @mains_categories %>
  <% if isset_subcat?(category) %>
    <div class="block-genre-index">
      <h1 class="genre-title-index">
        <%= category.title %>:
      </h1>
      <%= raw(find_all_genres(category)) %>
    </div>
  <% else %>
    <div class="block-genre-index">
      <h1 class="genre-title-index">
        <%= link_to category.title, category %>
      </h1>
    </div>  
  <% end %>
<% end %>
