<div class="row" id="footer">
  <div class="eight columns">
    <dl class="tabs">
      <dd><a href="#links1" class="active">Тут какие-то ссылки</a></dd>
      <dd><a href="#links2">Мы с социальных сетях</a></dd>
      <dd><a href="#links3">Контакты</a></dd>
    </dl>
    <ul class="tabs-content">
      <li class="active" id="links1Tab">
        <ul class="siteslinks">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Книги</a></li>
          <li><a href="#">Авторы</a></li>
          <li><a href="#">Новости</a></li>
        </ul>
        <ul class="siteslinks">
          <li><a href="#">Что почитать?</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Лицензионное соглашение</a></li>
        </ul>
      </li>
      <li id="links2Tab">
        <ul class="siteslinks">
          <li><a href="#">Вконтакте</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </li>
      <li id="links3Tab">
        <ul class="siteslinks">
          <li>email: <a href="mailto:support@knigalico.ru">support@knigalico.ru</a></li>
          <li>телефон: 87776948408</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="four columns copyright">
    <div class="bord_with_tabs">
    </div>
    <div class="copy_text">
      &copy; 2011, КнигаЛицо.ру
    </div>
  </div>
</div>