<div class="row" id="header">
  <div class="six columns" >
    <h1 id="main-title">КнигаЛицо.ру</h1>
  </div>
  <div class="six columns" id="search">
    <form class="nice custom">
      <input type="text" id="search_text" placeholder="The Тёлки...">
      <select id="form-list-search">
        <option SELECTED value="books">книги</option>
        <option value="authors">авторы</option>
        <option valie="other">разное</option>
      </select>
      <input type="submit" id="submit-search" class="small white nice button radius" value="Поиск">    
    </form>
  </div>
</div>