<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render("layouts/head") %>
</head>
<body>
  <div class="container">
    <div class="row" id="header">
      <div class="six columns" >
        <h1 id="main-title">КнигаЛицо.ру</h1>
      </div>
      <div class="six columns" id="search">
        <form action="" class="nice">
          <input type="text" id="search_text">              
          <select id="form-list-search">
            <option value="books">книги</option>
            <option value="authors">авторы</option>
            <option valie="разное">разное</option>
          </select>              
          <input type="submit" id="submit-search" value="Поиск">              
          <label>Dropdown Label</label>
          <select style="display:none;">
            <option SELECTED>This is a dropdown</option>
            <option>This is another option</option>
            <option>Look, a third option</option>
          </select>
          <div class="custom dropdown">
            <a href="#" class="current">This is a dropdown</a>
            <a href="#" class="selector"></a>
            <ul>
              <li>This is a dropdown</li>
              <li>This is another option</li>
              <li>Look, a third option</li>
            </ul>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</body>
</html>